<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/produtos.css">
</head>
<body>
    <div class="grid-container">
        <!-- Loop through auctions and create cards -->
        {% for auction in auctions %}
        <div class="card">
            <img class="card-img-top" src='/media/{{ auction.produto_id.imagem }}' alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ auction.produto_id.titulo }}</h4>
                <p class="card-text">{{ auction.produto_id.descricao }}</p>
                <p class="card-text">Preço Base: {{ auction.preco_base }}€</p>
                <p class="text-muted">Leilao começa: {{ auction.hora_inicio|time:'H:i' }}</p>
                <p class="text-muted">Leilao acaba: {{ auction.hora_fim|time:'H:i' }}</p>
                <!-- BID NOW BUTTON -->
                <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/website/bid/{{ auction.id }}'">Bid Now</button>
                <!-- WATCH BUTTON -->
                <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/website/watchlist/{{ auction.id }}'">
                    {% if watchlist %}
                        {% if auction.id in watchlist %}
                            Unwatch
                        {% else %}
                            Watch
                        {% endif %}
                    {% else %}
                        Watch
                    {% endif %}
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
